<ActivityIndicator
  [busy]="isLoading"
  row="1"
  horizontalAlignment="center"
  verticalAlignment="center"
>
</ActivityIndicator>
<GridLayout>
  <ScrollView class="page">
    <StackLayout class="nt-form">
      <FlexboxLayout
        flexDirection="row"
        alignContent="center"
        justifyContent="space-around"
        class="nt-input"
      >
        <TextField
          style="margin-top: 20;"
          [(ngModel)]="newTopicName"
          hint="New topic name"
          class="input -border"
          width="100%"
        ></TextField>
        <Button class="-primary -rounded-lg" text="Add" (tap)="add()"></Button>
      </FlexboxLayout>
      <CardView
        *ngFor="let item of topicsList"
        class="card"
        elevation="40"
        radius="10"
        [nsRouterLink]="['/topic', item.id]"
        ios:shadowRadius="3"
      >
        <StackLayout class="card-layout">
          <Label class="h2" [text]="item.topicName"></Label>
        </StackLayout>
      </CardView>
    </StackLayout>
  </ScrollView>
</GridLayout>
