<!-- <FlexboxLayout flexDirection="column" class="page" alignContent="center">
  <FlexboxLayout flexDirection="column"> -->

<Button
  *ngIf="isConnected"
  text="home works!"
  class="btn btn-primary"
  text="Disconnect"
  (tap)="disconnect()"
  style="vertical-align: center;"
></Button>
<Button
  *ngIf="!isConnected"
  text="home works!"
  class="btn btn-primary"
  text="Connect to the MQTT server"
  (tap)="connect()"
  style="vertical-align: center;"
></Button>
<!-- </FlexboxLayout>
  <ActivityIndicator
    [busy]="loading"
    horizontalAlignment="center"
    verticalAlignment="center"
  >
  </ActivityIndicator>
</FlexboxLayout> -->
