<FlexboxLayout
  class="page"
  flexDirection="column"
  alignContent="center"
  justifyContent="space-around"
>
  <FlexboxLayout
    flexDirection="column"
    alignContent="center"
    justifyContent="center"
  >
    <Image
      src="~/logo.png"
      height="400px"
      width="400px"
      loadMode="async"
      stretch="aspectFit"
    ></Image>
  </FlexboxLayout>
  <FlexboxLayout
    flexDirection="column"
    alignContent="center"
    justifyContent="center"
  >
    <Button
      *ngIf="isConnected"
      text="home works!"
      class="btn btn-primary"
      text="Disconnect"
      (tap)="disconnect()"
      style="vertical-align: center;"
    ></Button>

    <Button
      *ngIf="isConnected"
      class="btn btn-secondary"
      [nsRouterLink]="['/items']"
      text="Devices"
      style="vertical-align: center;"
    >
    </Button>
    <Button
      *ngIf="!isConnected"
      text="home works!"
      class="btn btn-primary"
      text="Connect to the MQTT server"
      (tap)="connect()"
      style="vertical-align: center;"
    ></Button>
  </FlexboxLayout>
</FlexboxLayout>
<!--
  <ActivityIndicator
    [busy]="loading"
    horizontalAlignment="center"
    verticalAlignment="center"
  >
  </ActivityIndicator>
</FlexboxLayout> -->
