<FlexboxLayout flexDirection="column" class="page" horizontalAlignment="center">
  <FlexboxLayout flexDirection="row" *ngIf="!bulbConnected">
    <Button class="btn btn-primary" (tap)="connectToMagicBlue()" text="Connect">
    </Button>
  </FlexboxLayout>
  <FlexboxLayout flexDirection="row" *ngIf="bulbConnected">
    <Button
      class="btn btn-primary"
      (tap)="disconnectToMagicBlue()"
      text="Disconnect"
    >
    </Button>
  </FlexboxLayout>
  <FlexboxLayout flexDirection="row" *ngIf="bulbConnected">
    <FlexboxLayout flexDirection="column">
      <StackLayout horizontalAlignment="center" verticalAlignment="center">
        <Slider
          [minValue]="minValue"
          [maxValue]="maxValue"
          [(ngModel)]="redValue"
          backgroundColor="red"
          class="red"
        >
        </Slider>
      </StackLayout>
      <Slider
        [minValue]="minValue"
        [maxValue]="maxValue"
        [(ngModel)]="greenValue"
        backgroundColor="green"
        class="green"
      >
      </Slider>
      <Slider
        [minValue]="minValue"
        [maxValue]="maxValue"
        [(ngModel)]="blueValue"
        backgroundColor="blue"
        class="blue"
      >
      </Slider>

      <Slider
        [minValue]="minValue"
        [maxValue]="maxValue"
        [(ngModel)]="whiteValue"
        class="white"
      >
      </Slider>

      <Button class="btn btn-secondary" (tap)="updateLightBulb()" text="Apply">
      </Button>
    </FlexboxLayout>
  </FlexboxLayout>
  <!-- <ActivityIndicator
    [busy]="isLoading"
    horizontalAlignment="center"
    verticalAlignment="center"
  >
  </ActivityIndicator> -->
</FlexboxLayout>
